tensorflow # ~=2.15.0, original version, but has security issue
keras # ~=2.15.0, original version, but has security issue
numpy
matplotlib
scipy
scikit-learn
scikit-image
joblib
pandas
tqdm
h5py
scikit-video
shapely
scikit-learn
datajoint
seaborn
IPython
